/* app/news/NewsPage.module.css */
.newsContainer {
  border-left: 2px solid #eeeeee;
  border-right: 2px solid #eeeeee;
  width: max-content;
  margin: 0 auto;
  padding: 20px;
}

.loadMoreButton {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  cursor: pointer;
}